In [9]:
## importing libraries ##
import pandas as pd
import re

In [17]:
## Definining variables ##
eventDatasets=[ 'rain_event_58216_2.csv',     'rain_event_558000_1.csv',
             'rain_event_558036_2.csv',    'rain_event_558025_1.csv',
             'rain_event_558031_1.csv',    'rain_event_558033_1.csv',
             "rain_event_558036_2.csv",    'rain_event_558046_1.csv',
             'rain_event_558049_1.csv',    'rain_event_558053_1.csv']

accumDatasets = ['rain_accum_558034_1.csv','rain_accum_558033_1.csv','rain_accum_558031_1.csv',
'rain_accum_558028_1.csv','rain_accum_558025_1.csv','rain_accum_558018_1.csv',
'rain_accum_558008_1.csv','rain_accum_558005_1.csv','rain_accum_558000_1.csv'
,'rain_accum_558112_1.csv','rain_accum_558112_0.csv','rain_accum_558109_1.csv',
 'rain_accum_558107_1.csv','rain_accum_558107_0.csv','rain_accum_558106_1.csv',
 'rain_accum_558106_0.csv','rain_accum_558104_1.csv','rain_accum_558104_0.csv',
'rain_accum_558099_1.csv','rain_accum_558099_0.csv','rain_accum_558096_1.csv',
'rain_accum_558095_1.csv','rain_accum_558094_1.csv','rain_accum_558084_1.csv',
'rain_accum_558083_1.csv','rain_accum_558078_1.csv','rain_accum_558066_1.csv',
'rain_accum_558053_1.csv','rain_accum_558049_1.csv','rain_accum_558046_1.csv',
 'rain_accum_558036_1.csv','rain_accum_58167_1.csv','rain_accum_58147_1.csv',
'rain_accum_58019_1.csv']

riverHeightData = ["wl_558004_1.csv","wl_558007_1.csv","wl_558007_3.csv","wl_558008_1.csv","wl_558020_1.csv",
"wl_558063_1.csv","wl_558096_1.csv","wl_558108_1.csv","wl_558112_1.csv"]

df,cf,rf = pd.DataFrame(), pd.DataFrame(), pd.DataFrame()

In [18]:
## Cominbing events datasets ##
for i in eventDatasets:
    data, names = pd.read_csv(i), re.search('[0-9]+',i)   
    data['LOC'] = data.loc[:,'LOC'] = names.group()
    df = pd.concat([df,data])
    
df['LOC_NAME'],  df['LAT'],  df['LONG'] = df.LOC, df.LOC, df.LOC

In [19]:
## Combining AccumDatasets ##
for i in accumDatasets:
    data, names = pd.read_csv(i), re.search('[0-9]+',i)
    data['LOC'] = data.loc[:,'LOC'] = names.group()
    cf = pd.concat([cf,data])

cf['LOC_NAME'],  cf['LAT'],  cf['LONG'] = cf.LOC, cf.LOC, cf.LOC

In [20]:
## Combing Riverheightdata ##
for i in riverHeightData:
    data, names = pd.read_csv(i), re.search('[0-9]+',i)
    data['LOC'] = data.loc[:,'LOC'] = names.group()
    rf = pd.concat([rf,data])
    
rf['LOC_NAME'],  rf['LAT'],  rf['LONG'] = rf.LOC, rf.LOC, rf.LOC

In [21]:
## Adding correct names, LAT and LONG to Rain event dataset ##
locData = pd.read_csv('sites_rain_event.csv')

for i in range(0,len(df.LOC)): 
    for j in range(0,len(locData.STN_NUM.values)):
        if df.LOC.values[i] == str(locData.STN_NUM.values[j]):
             df.LOC_NAME.values[i],df.LAT.values[i],df.LONG.values[i] = locData.Name[j], locData.LAT[j], locData.LONG[j]

In [22]:
## Adding correct names, LAT and LONG to accumulation rain dataset ##
locData = pd.read_csv('sites_rain_accum.csv')

for i in range(0,len(cf.LOC)): 
    for j in range(0,len(locData.STN_NUM.values)):
        if cf.LOC.values[i] == str(locData.STN_NUM.values[j]):
            cf.LOC_NAME.values[i],cf.LAT.values[i],cf.LONG.values[i] = locData.Name[j], locData.LAT[j], locData.LONG[j]

In [23]:
## Adding correct names, LAT and LONG to dataset for river height data ##
locData = pd.read_csv('riverData.csv.csv')

for i in range(0,len(rf.LOC)): 
    for j in range(0,len(locData.STN_NUM.values)):
        if rf.LOC.values[i] == str(locData.STN_NUM.values[j]):
            rf.LOC_NAME.values[i],rf.LAT.values[i],rf.LONG.values[i] = locData.Name[j], locData.LAT[j], locData.LONG[j]

In [29]:
## Exporting datasets ##
df.to_csv('event_dataset.csv')
cf.to_csv('accumulation_dataset.csv')
rf.to_csv('water_height_dataset.csv')

In [25]:
rf

,OBS_TIME_LOC,HT,VOID_FLAG,LOC,LOC_NAME,LAT,LONG
0,2005-11-26 09:51:35,1.52,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
1,2005-11-26 09:52:07,1.53,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
2,2005-11-26 09:53:07,1.52,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
3,2005-11-26 09:54:07,1.53,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
4,2005-11-26 10:09:35,1.54,N,558004,The Pocket (Marshalls Creek),-28.5047,153.4772
...,...,...,...,...,...,...,...
61855,2022-07-31 23:39:33,0.58,N,558112,Yelgun Creek (Helen St Bridge),-28.4974,153.5449
61856,2022-07-31 23:43:33,0.59,N,558112,Yelgun Creek (Helen St Bridge),-28.4974,153.5449
61857,2022-07-31 23:48:33,0.60,N,558112,Yelgun Creek (Helen St Bridge),-28.4974,153.5449
61858,2022-07-31 23:52:33,0.61,N,558112,Yelgun Creek (Helen St Bridge),-28.4974,153.5449
61859,2022-07-31 23:56:33,0.62,N,558112,Yelgun Creek (Helen St Bridge),-28.4974,153.5449

In [26]:
cf

,OBS_TIME_LOC,PRCP,VOID_FLAG,LOC,LOC_NAME,LAT,LONG
0,2005-11-26 11:19:50,1411.0,N,558034,Mullumbimby (Upper Main Arm),-28.5031,153.3817
1,2005-11-26 11:21:18,1411.0,N,558034,Mullumbimby (Upper Main Arm),-28.5031,153.3817
2,2005-11-26 14:19:51,1411.0,N,558034,Mullumbimby (Upper Main Arm),-28.5031,153.3817
3,2005-11-26 17:19:51,1411.0,N,558034,Mullumbimby (Upper Main Arm),-28.5031,153.3817
4,2005-11-26 17:21:18,1411.0,N,558034,Mullumbimby (Upper Main Arm),-28.5031,153.3817
...,...,...,...,...,...,...,...
82557,2022-07-31 12:36:03,1105.0,N,58019,Doon Doon (Mccabes Road),-28.5314,153.3151
82558,2022-07-31 15:36:03,1105.0,N,58019,Doon Doon (Mccabes Road),-28.5314,153.3151
82559,2022-07-31 17:52:22,1611.0,Y,58019,Doon Doon (Mccabes Road),-28.5314,153.3151
82560,2022-07-31 18:36:03,1105.0,N,58019,Doon Doon (Mccabes Road),-28.5314,153.3151
82561,2022-07-31 21:36:04,1105.0,N,58019,Doon Doon (Mccabes Road),-28.5314,153.3151

In [27]:
df

,OBS_TIME_LOC,PRCP,VOID_FLAG,LOC,LOC_NAME,LAT,LONG
0,2007-11-07 10:00:00,0.2,N,58216,Cape Byron Aws,-28.6399,153.6358
1,2007-11-07 11:00:00,2.8,N,58216,Cape Byron Aws,-28.6399,153.6358
2,2007-11-07 12:00:00,3.8,N,58216,Cape Byron Aws,-28.6399,153.6358
3,2007-11-07 13:00:00,7.2,N,58216,Cape Byron Aws,-28.6399,153.6358
4,2007-11-07 14:00:00,9.6,N,58216,Cape Byron Aws,-28.6399,153.6358
...,...,...,...,...,...,...,...
88763,2022-07-31 12:00:00,0.0,N,558053,Main Arm,-28.5028,153.3833
88764,2022-07-31 15:00:00,0.0,N,558053,Main Arm,-28.5028,153.3833
88765,2022-07-31 18:00:00,0.0,N,558053,Main Arm,-28.5028,153.3833
88766,2022-07-31 21:00:00,0.0,N,558053,Main Arm,-28.5028,153.3833
88767,2022-08-01 00:00:00,0.0,N,558053,Main Arm,-28.5028,153.3833